@CHARSET "UTF-8";
	input{
		width: 176px;
		height: 34px;
		background-color: inherit;
		margin-left: 3%;
		position: absolute;
		top:0px;
		border: none;
		outline: none;
		font: 16px sans-serif;
		display: inline;
	}
	html, body{
		height: 100%;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	label{
		display: none;
		color: black;
		position: absolute;
		right: 4%;
		top: 8px;
	}
	i{
		display: inline;
		margin-left: 8px;
		margin-top: 3.5%;
	}
	.inline{
		display: inline ! important;
	}